<h4> Update Pet</h4>
<form action="/pets/<%=@pet.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
    <div class="input-field">
        <label>Update Pet Name: </label>
        <input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">
    </div>   
        <br>
    <div class="input-field">
        <label>Update Pet Species: </label>
        <input type="text" name="pet[species]" id="pet_species" value="<%=@pet.species%>">
    </div>    
        <br>
        <h6>Update Your Pet's Household:</h6>
        <ul>
            <% current_user.households.each do |household| %>
            <li><input type="radio" name="pet[household_id]" id="<%= household.id %>" value="<%= household.id %>"><%=household.name %></li>
        <% end %>
        </ul>
        <br>
    <input type="submit" value="Update Pet" class="btn">
</form>
<br>
<form method="post" action="/pets/<%= @pet.id %>/delete"><br>
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Pet" class="btn"> 
</form>
