<h1><%=@pet.name%></h1>
<h4>Species: <%=@pet.species%> </h4>
<br>
<h4>Household: <%=@household.name%> </h4>
<br>
<ul>
<h4><%=@pet.name%>'s Events:</h4>
<% if @pet.events.empty?%>
    <p> This pet has no events, <%=@pet.name%> might need some attention. </p>
  <%else%>
    <ul>
    <%@pet.events.each do |event|%>
      <%=event.event_type%>  at  <%=event.created_at%>
      <br>
    <%end%>
    </ul>
  <%end%>
  
</ul>
<br>
<a href="/events/new">Add Event</a>
<br>
<%if current_user.household_ids.include?(@pet.household_id) %>
<a href="/pets/<%=@pet.id%>/edit">Edit this Pet.</a>

<form method="post" action="/pets/<%= @pet.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete"> 
</form>
<%end%>





