<h1><%=@pet.name%></h1>
<h4>Species: <%=@pet.species%> </h4>
<br>
<h4>Household: <%=@household.name%> </h4>
<br>
<h4><%=@pet.name%>'s Events:</h4>
<%if @pet.events.empty?%>
    This pet has no events today. <%=@pet.name%> might need some attention.
  <%else%>
    <ul>
    <%@events.each do |event|%>
       • <a href="/events/<%=event.id%>/edit"><%=event.event_type%></a>  at  <%=event.created_at%>
      <br>
      <%if event.details == nil %>
          No deatils. 
      <%else%>
          <%=event.details%>
      <%end%>
      <br>
    <%end%>
    </ul>
  <%end%>
<br>
<form method="post" action="/events"> 
  <h4>Add an Event:</h4><br>
  <label>Event Type:</label>
  <input type="text" name="event" id="event"><br>
  <label>Event Details:</label>
  <input type="text" name="details" id="details">
  <input type="hidden" value="<%=@pet.id%>" name="pet_id" /><br>
  <input type="submit" value="Submit">
</form>
<br>
<a href="/households/<%=@household.id%>">Back to Household</a><br>
<%if current_user.household_ids.include?(@pet.household_id) %>
    <a href="/pets/<%=@pet.id%>/edit">Edit Pet</a>
<%end%>





