<h1><%=@pet.name%></h1>
<h4>Species: <%=@pet.species%> </h4>
<h4>Household: <%=@household.name%> </h4>
<%if @pet.owner_id == current_user.id %>
  <form action="/pets/<%=@pet.id%>/edit" method="get">
  <input type="submit" value="Edit Pet">
  </form>
<%end%>
<br>
<h4><%=@pet.name%>'s Events:</h4>
<%if @pet.events.empty?%>
    This pet has no events today. <%=@pet.name%> might need some attention.
  <%else%>
    <ul>
    <%@events.each do |event|%>
      <% if event.today %>
      <li> • <a href="/events/<%=event.id%>/edit"><%=event.event_type%></a>  at  <%=event.created_at%>
          <%if event.details == nil %>
              No deatils. 
          <%else%>
              -  <%=event.details%>
          <%end%>
      </li>
      <%end%>
    <%end%>
    </ul>
  <%end%>
<br>
<br>
<form method="post" action="/events"> 
  <h4>Add an Event:</h4>
  <label>Event Type:</label>
  <input type="text" name="event" id="event"><br>
  <label>Event Details:</label>
  <input type="text" name="details" id="details">
  <input type="hidden" value="<%=@pet.id%>" name="pet_id" /><br>
  <input type="submit" value="Submit Event">
</form>
<br>
 <form action="/households/<%=@household.id%>" method="get">
  <input type="submit" value="Back to Household">
  </form>





