<h4><%=@pet.name%></h4>
<h6>Species: <%=@pet.species%> </h6>
<h6>Household: <%=@household_name%> </h6>
<%if @pet.owner_id == current_user.id %>
  <form action="/pets/<%=@pet.id%>/edit" method="get">
  <input type="submit" value="Edit Pet" class="btn">
  </form>
<%end%>
<br>
<h6><%=@pet.name%>'s Events:</h6>
<%if !!@pet.events%>
  <ul>
  <%@pet.events.each do |event|%>
    <li> • <a href="/events/<%=event.id%>/edit"> <%=event.event_type%></a>  at  <%=event.created_at.strftime("at %I:%M %p")%> on <%=event.date%>
        <%if event.details == nil %>
            No deatils. 
        <%else%>
            -  <%=event.details%>
        <%end%>
    </li>
  <%end%>
  </ul>
<%else%>
  <%=@pet.name%> has no events. They might need some attention.
<%end%>
<br>
<br>
<form method="post" action="/events"> 
  <h5>Add an Event:</h5>
  <div class="input-field">
    <label>Event Type:</label>
    <input type="text" name="event" id="event"><br>
  </div>
  <div class="input-field">
    <label>Event Details:</label>
    <input type="text" name="details" id="details">
  </div>
    <input type="hidden" value="<%=@pet.id%>" name="pet_id" /><br>
    <input type="submit" value="Submit Event" class="btn">
</form>
<br>
<form action="/home" method="get">
  <input type="submit" value="Back to Home" class="btn">
</form>
