<form action="/users/<%=@user.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">

<h2> Update Your Profile</h2>

    <label>Update Username: </label>
    <input type="text" name="name" id="name" value="<%=@user.username%>">
    <br><br>
    <h4>Update Your Household(s)</h4>
    <br>
        <% @households.each do |household| %>
        <li><input type="checkbox" name="user[household_ids][]" id="<%= household.id %>" value="<%= household.id %>" <%= 'checked' if household.users.include?(current_user) %>><%=household.name %></li>
        <br>
    <% end %>
    <br>
    <br>
    <input type="submit" value="Update Profile">
</form>