<h4> Update Your Profile</h4>

<form action="/users/<%=@user.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<div class="input-field">
    <label>Update Username: </label>
    <input type="text" name="name" id="name" value="<%=@user.username%>">
</div>    
    <br>
    <h3>Update Your Household(s)</h3>
    Check the households you would like to join, and uncheck the households you would like to remove from your households. 
    <br>
 
    <% @households.each do |household| %>
    <p>
    <label for="<%= household.id %>">
        <input type="checkbox" <%='checked' if household.users.include?(current_user)%> name="user[household_ids][]" id="<%= household.id %>" value="<%=household.id%>"/>  
        <span><%=household.name %></span> 
    </label>
    </p>
    <% end %>
    <br>
    <input type="submit" value="Update Profile" class="btn">
</form>
<br>
<form method="post" action="/users/<%=@user.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete" class="btn">
    <input type="submit" value="Delete Profile" class="btn"> 
</form>