<h2 class="center"><%= @user.username %>'s Critter Sitter Homepage</h2>

<h4>Your Household(s):</h4>
    <ul>
    <%@households.each do |household|%>
    <li> • <a href="/households/<%=household.id%>"><%= household.name %></a></li>
    <%end%>
    </ul>
<br>
<form action="/users/edit" method="get">
    <input type="submit" value="Add Existing Household" class="btn">
</form>
<br>
<form action="/households/new" method="get">
    <input type="submit" value="Create a New Household" class="btn">
</form>
<br>
<br>
<%if !@households.empty? %>
    <h4>Your Pet(s):</h4>
        <ul>
        <%@pets.each do |pet|%>
       
            <li> <h5><a href="/pets/<%=pet.id%>"><%= pet.name %></a></h5></li>
            <%if !!pet.events%>
                <ul>
                <%pet.events.each do |event|%>
                    <li> • <a href="/events/<%=event.id%>/edit"> <%=event.event_type%></a>  at  <%=event.created_at.strftime("at %I:%M %p")%> on <%=event.date%>
                    </li>
                <%end%>
                </ul>
            <%else%>
                <%=@pet.name%> has no events. They might need some attention.
            <%end%>
        <%end%>
        </ul>
    <br>
    <form action="/pets/new" method="get">
        <input type="submit" value="Create a New Pet" class="btn">
    </form>

<%end%>
