<h4><%=@pet.name%> <%=@event.event_type%></h4>

<h6>at <%=@event.created_at.strftime("at %I:%M %p")%> on <%=@event.date%></h6>
<h6>Details: <%=@event.details%></h6>

<h3>Edit Event:</h3>
<form action="/events/<%=@event.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
    <h5>Edit Event:</h5>
    <br>
    <div class="input-field">
        <label>Event Type:</label>
        <input type="text" name="event" id="event" value="<%=@event.event_type%>">
    </div>
    <br>
    <div class="input-field">
        <label>Event Details:</label>
        <input type="text" name="details" id="details" value="<%=@event.details%>">
    </div>
    <input type="submit" value="Submit Event" class="waves-effect waves-light btn-small">
</form>
<br>
<form method="post" action="/events/<%= @event.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Event" class="waves-effect waves-light btn-small"> 
</form>