<h2><%=@pet.name%> was <%=@event.event_type%></h2>

<h4>at <%=@event.created_at%></h4>
<h4>Details: <%=@event.details%></h4>

<form action="/events/<%=@event.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
    <h3>Edit Event:</h3>
    <br>
    <div class="input-field">
        <label>Event Type:</label>
        <input type="text" name="event" id="event" value="<%=@event.event_type%>">
    </div>
    <br>
    <div class="input-field">
        <label>Event Details:</label>
        <input type="text" name="details" id="details" value="<%=@event.details%>">
    </div>
    <input type="submit" value="Submit">
</form>
<br>
<form method="post" action="/events/<%= @event.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Event" class="btn"> 
</form>