<h1>Pets of <%=@household.name%></h1>

<% if @household.pets.empty?%>
    This household current has no pets.
  <%else%>
    <ul>
    <%@household.pets.each do |pet|%>
    <li><h4><a href="/pets/<%=pet.id%>"><%=pet.name%></a></h4></li>
      <%if !!pet.events%>
      <ul>
      <%pet.events.each do |event|%>
      <li> • <a href="/events/<%=event.id%>/edit"> <%=event.event_type%></a>  at  <%=event.created_at.strftime("at %I:%M %p")%> on <%=event.date%>
        <%if event.details == nil %>
            No deatils. 
        <%else%>
            -  <%=event.details%>
        <%end%>
        </li>
      <%end%>
      </ul>
      <%else%>
        <%=@pet.name%> has no events. They might need some attention.
      <%end%>




    <%end%>
    </ul>
  <%end%>
<br>
<br>
  <form action="/pets/new" method="get">
    <input type="submit" value="Create New Pet">
  </form>
<br>
<%if @household.owner_id == current_user.id %>
  <form action="/households/<%=@household.id%>/edit" method="get">
    <input type="submit" value="Edit Household">
  </form>
<%else%>
  <form action="/users/edit" method="get">
    <input type="submit" value="Remove this Household">
  </form>
<%end%>




